<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>
    <div class="jumbotron content">
      <div class="container">
        <h1>Do IOT Yourself</h1>
        <p>저희서비스는 일반인들이 쉽게, 이벤트와 그에따른 액션을 연결함으로써 유저 맞춤형 IOT 서비스를 제공하는 플랫폼을 제공하고 있습니다.</p>
        <br><br>
        <p><a class="btn btn-primary btn-lg" href="/connect" role="button" data-toggle="modal" data-target="#createPost">Getting Started</a></p>
      </div>
    </div>

    <!--modal-->

    <div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="/home" method="post">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Create Connection</h4>
            </div>

            <div class="modal-body">
              <!--
              <fieldset class="form-group">
                <label for="inputitle">Title</label>
                <input type="text" id="inputitle" name="title" class="form-control" placeholder="Comment Title" required="">
              </fieldset>
              <fieldset class="form-group">
                <label for="inputContent">Content</label>
                <textarea id="inputContent" name="content" rows="8" cols="40" class="form-control" placeholder="Comment Description" required=""></textarea>
              </fieldset>
              -->

              <div id="inputaction" class="selectGroup form-control">
                <label for="a-select">INPUT1: </label>
                <select name="iotaction" id="a-select">
                  <optgroup label ="Action">
                    <option>INPUT을 선택하세요.</option>
                    <option >침대 누움</option>
                    <option >침대 일어남</option>
                  </optgroup>

                </select>


              </div>

              <div id="inputaction" class="selectGroup form-control">
                <label for="a-select">INPUT2: </label>
                <select name="iotaction2" id="a-select">
                  <optgroup label ="Action">
                    <option>INPUT을 선택하세요.</option>
                    <option >현관문 열림</option>
                    <option >현관문 닫힘</option>
                  </optgroup>

                </select>


              </div>

              <div id="inputaction" class="selectGroup form-control">
                <label for="a-select">INPUT3: </label>
                <select name="iotaction3" id="a-select">
                  <optgroup label ="Action">
                    <option>INPUT을 선택하세요.</option>
                    <option >광센서 밤</option>
                    <option >광센서 낮</option>
                  </optgroup>

                </select>


              </div>

              <div id="inputaction" class="selectGroup form-control">
                <label for="a-select">INPUT4: </label>
                <select name="iotaction4" id="a-select">
                  <optgroup label ="Action">
                    <option>INPUT을 선택하세요.</option>
                    <option >소파 앉음</option>
                    <option >소파 일어남</option>
                  </optgroup>

                </select>
              </div>
              <br>
              <br>

              <div id="inputevent" class="selectGroup form-control">
                <label for="e-select">OUTPUT1: </label>
                <select name="iotevent" id="e-selsect">
                  <optgroup label ="Event">
                    <option>Event를 선택하세요.</option>
                    <option >현관문조명 ON</option>
                    <option >현관문조명 OFF</option>
                  </optgroup>

                </select>
              </div>

              <div id="inputevent" class="selectGroup form-control">
                <label for="e-select">OUTPUT2: </label>
                <select name="iotevent2" id="e-selsect">
                  <optgroup label ="Event">
                    <option>Event를 선택하세요.</option>
                    <option >스탠드램프 ON</option>
                    <option >스탠드램프 OFF</option>
                  </optgroup>

                </select>
              </div>

              <div id="inputevent" class="selectGroup form-control">
                <label for="e-select">OUTPUT3: </label>
                <select name="iotevent3" id="e-selsect">
                  <optgroup label ="Event">
                    <option>Event를 선택하세요.</option>
                    <option >경보기 ON</option>
                    <option >경보기 OFF</option>
                  </optgroup>

                </select>
              </div>

              <div id="inputevent" class="selectGroup form-control">
                <label for="e-select">OUTPUT4: </label>
                <select name="iotevent4" id="e-selsect">
                  <optgroup label ="Event">
                    <option>Event를 선택하세요.</option>
                    <option >환풍기 ON</option>
                    <option >환풍기 OFF</option>
                  </optgroup>

                </select>
              </div>

              <br>
              <br>

              <div id="emailevent" class="selectGroup form-control">
                <label for="m-select">Email(option): </label>
                <select name="email" id="e-selsect">
                  <optgroup label ="Email">
                    <option value=0>이메일전송여부</option>
                    <option value=0>OFF</option>
                    <option value=1>ON</option>
                  </optgroup>

                </select>
              </div>
              <div id="emailevent" class="selectGroup form-control">
                <label for="m-select">수신메일주소</label>
                <input type="text" class="form-control" id="emailaddr" name="emailaddr" value="입력하세요">
              </div>
              <div id="emailevent" class="selectGroup form-control">
                <label for="m-select">보낼메시지 </label>
                <input type="text" class="form-control" id="emailtext" name="emailtext" value="입력하세요">
              </div>



            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>



    <div class="container">
      <div class="lead">
          <div class="list-group">
          <% connects.forEach(function(connects){ %>
                  <a href="#" class="list-group-item">
                      <div class="connects">
                        <div class="row">
                          <div class="col-md-5">
                            <h3 class="btn btn-primary btn-lg">Input</h3>
                            <p class="list-group-item-text iotitem"><%= connects.iotaction %> <%= connects.iotaction2 %> <%= connects.iotaction3 %> <%= connects.iotaction4 %> </p>
                          </div>
                          <div class="col-md-5">
                            <h3 class="btn btn-primary btn-lg">Output</h3>
                            <p class="list-group-item-text iotitem"><%= connects.iotevent %> <%= connects.iotevent2 %> <%= connects.iotevent3 %> <%= connects.iotevent4 %> </p>
                          </div>
                          <div class="col-md-2">
                            <h3 class="btn btn-primary btn-lg">email전송여부</h3>
                            <p class="list-group-item-text iotitem" style="text-align: center">
                              <% if (connects.email === '1') { %>
                                O
                              <% }else {%>
                                X
                              <% }%>
                            </p>
                          </div>
                        </div>
                        <a href="/delete/<%=connects._id%>" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
                      </div>
                  </a>
          <% }); %>
          </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>


    <hr>


    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>

</html>
